<div class="row">
    <div class="col-lg-6">
      <nb-card>
        <nb-card-header>Crear cliente</nb-card-header>
        <nb-card-body>
            <input type="text" nbInput fullWidth placeholder="DPI">
          <div class="full-name-inputs">
            <input type="text" nbInput fullWidth placeholder="Primer nombre">
            <input type="text" nbInput fullWidth placeholder="Segundo nombre">
          </div>
          <div class="full-name-inputs">
            <input type="text" nbInput fullWidth placeholder="Primer apellido">
            <input type="text" nbInput fullWidth placeholder="Segundo apellido">
          </div>

          <nb-select (selectedChange)="cambioDeDepartamento($event)" fullWidth placeholder="Departamento">
            <!-- <nb-option value="Guatemala">Guatemala</nb-option> -->
            <nb-option *ngFor="let departamento of departamentos" value="{{departamento}}">{{departamento}}</nb-option>
          </nb-select>

          <nb-select fullWidth placeholder="Municipios">
            <!-- <nb-option value="Guatemala">Guatemala</nb-option> -->
            <nb-option *ngFor="let municipio of municipios" value="{{municipio}}">{{municipio}}</nb-option>
          </nb-select>
          
          <!-- <input type="text" nbInput fullWidth placeholder="Municipio"> -->


          <input type="text" nbInput fullWidth placeholder="Direccion">


          <textarea rows="5" nbInput fullWidth shape="round"  placeholder="Indicaciones"></textarea>

          <button nbButton status="primary">
            Guardar
          </button>
          
        </nb-card-body>
      </nb-card>
    </div>
  
  </div>